<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Choose One Of The Episodes</title>
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <label for="episode_titles">
                Episodes:
                <select name="episode_titles">
                    {% for title in titles %}
                        <option value="{{ title }}">{{ title }}</option>
                    {% endfor %}
                </select>
            </label>
            <p>{{ message }}</p>
            <input type="submit" value="Like or Unlike episode">
        </form>
    </body>
</html>